@import '../_variables.scss';

.top-icons{
    padding: 100px 0;
    border-bottom: 1px solid #eee;
}
.top-icons__container{
    display: flex;
    flex-wrap: wrap;
}
.top-icons__icon-box{
    text-align: center;
    flex: 0 0 25%;
    width: 25%;
}
.top-icons__icon-box__icon-frame{
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    border: 1px solid #eee;
    display: flex;
    transition: .25s ease all;
}
.top-icons__icon-box__icon-frame:hover{
    border: 1px solid $mainColor;
    transform: rotate(45deg);
}
.top-icons__icon-box__icon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    background-position: center;
    transition: .25s ease all;
}
.top-icons__icon-box__icon-frame:hover .top-icons__icon-box__icon{
    transform: rotate(-45deg);
}
.top-icons__icon-box__separator{
    height: 2px;
    background: #ccc;
    width: 50px;
    margin: 10px auto;
}
.about{
    padding: 100px 0;
}