@import '../_variables.scss';

.case-study{
    padding: 100px 0;
    border-bottom: 1px solid #eee;
    background: #fafafa;
}
.case-study__icon-frame{
    background: $mainColor;
    transform: rotate(45deg);
    width: 60px;
    height: 60px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.case-study__icon{
    background: url(../../img/case-study-icon.png) no-repeat;
    transform: rotate(-45deg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
}
.case-study__left-column {
    position: relative;
}
.case-study__left-column .column__inner{
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    padding: 100px 50px;
    margin-right: -50px;
}
.case-study__row{
    margin-top: 50px;
}
.case-study__text-separator{
    height: 2px;
    background: #777;
    width: 50px;
    margin: 30px auto 20px;
}