@import '../_variables.scss';

.counters{
    padding: 50px 0;
    background: url(../../img/counters.jpg) no-repeat;
    position: relative;
}
.counters__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
}
.counter__container{
    display: flex;
    justify-content: center;
    position: relative;
}
.counter{
    text-align: center;
    color: white;
    margin: 0 20px;
}
.counter__icon-wrapper{
    background: transparent;
    border-radius: 50%;
    border: 1px solid white;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.counter__icon{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}