@import '../_variables.scss';

.our-services{
    background: #252121;
}

.our-services__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.our-services .column__right{
    background: url(../../img/our-services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.our-services .column__left .column__inner{
    color: white;
    text-align: right;
    padding: 150px 75px;
}

.our-services__service{
    position: relative;
}

.service__icon-wrapper{
    position: absolute;
    right: -100px;;
    top: 0;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    padding: 20px;
}

.service__icon{
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}