@import '../_variables.scss';

.portfolio{
    padding-top: 100px;
}

.portfolio .separator{
    margin-bottom: 40px;
}

.portfolio__gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio__item{
    flex: 0 0 33%;
    max-width: 33%;
    height: 350px;
}

.portfolio__item__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}