@import '../_variables.scss';

.pricing{
    padding: 100px 0;
    background: #fafafa;
}

.pricing__row{
    justify-content: center;
    margin-top: 50px;
}

.pricing-box{
    padding: 20px;
    text-align: center;
    position: relative;
    background: #eee;    
    margin: 0 20px;
    cursor: pointer;
}

.pricing-box__half-overlay{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: #777;
    transition: .25s ease All;
}
.pricing-box:hover .pricing-box__half-overlay{
    background: $mainColor;
}

.pricing-box__inner{
    position: relative;
    z-index: 1;
}
.pricing-box__price-wrapper{
    margin: 30px 0;
}
.pricing-box__price{
    background: white;
    box-shadow: 0 0 15px #fefefe;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.pricing__button{
    background: #777;
    transition: .25s ease All;    
}
.pricing-box:hover .pricing__button{
    background: $mainColor;
}