@import '../_variables.scss';

.top-banner {
	width: 100%;
	height: 80vh;
	background: url(../../img/top-banner-background.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.top-banner__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-wrap: wrap;
}

.top-banner__headers {
	flex: 0 0 100%;
	text-align: center;
}

.top-banner__header {
	color: white;
	text-transform: uppercase;
	font-size: 3.5rem;
}

.top-banner__header__span {
	text-transform: none;
}

.top-banner__subheader {
	color: white;
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.top-banner__arrow {
	width: 60px;
	height: 60px;
	background: url(../../img/down-arrow.png) no-repeat;
	background-size: cover;
	bottom: -25px;
	position: absolute;
	left: calc(50% - 25px);
	cursor: pointer;
}