@import '_variables.scss';

a {
	text-decoration: none;
}

p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.text-white{
	color: white;
}

.align-center{
	text-align: center;
}

.heading{
	font-weight: 600;
	text-transform: uppercase;
    margin-bottom: 20px;
}
.heading_h2{
    font-size: 32px;
    letter-spacing: 4px;
}
.vertical-line-before{
	position: relative;
	padding-left: 20px;
}
.vertical-line-after{
	position: relative;
	padding-right: 20px;
}
.vertical-line-before:before{
	content: ' ';
	background: $mainColor;
	width: 5px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.vertical-line-after:after{
	content: ' ';
	background: $mainColor;
	width: 5px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 30px;
}

.row{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.row_vertical-center{
	align-items: center;
}
.column{
	flex: 0 0 50%;
	max-width: 50%;
}

.column img{
	max-width: 100%;
}

.navbar__container {
	display: flex;
	align-items: center;
	padding: 20px;
}

.navbar__logo {
	flex: 0 0 50%;
}

.navbar__nav-menu {
	flex: 0 0 50%;
	text-align: right;
}

.navbar__nav-link {
	color: white;
}

.navbar__nav-link.active {
	color: $mainColor;
}

.separator {
	height: 10px;
	background: url(../img/separator.png) no-repeat;
	background-size: contain;
	background-position: center;
	margin: 20px;
}

.button {
	padding: .75rem 2rem;
	font-size: .85rem;
	border-radius: 0;
	margin: 10px;
	border: 1px solid white;
	color: white;
	text-transform: uppercase;
}

.button:hover {
	transition: .25s ease all;
	opacity: .8;
}

.button_primary {
	background-color: $mainColor;
}

.button_outline {
	color: white;
	background-color: transparent;
}